localhost {
    reverse_proxy web:8000
    log {
        output file /var/log/caddy/access.log
        format json
    }
    handle_path /static/* {
        root * /www/html/static
        file_server
    }

    handle_path /media/* {
        root * /www/html/media
        file_server
    }
}
